<div class="h_menu">
    <a id="touch-menu" class="mobile-menu" href="#">Menu</a>
    <nav>
        <ul class="menu list-unstyled">
            <li><a href="/Home/Anasayfa">Anasayfa</a></li>
            <li><a href="/Urun/UrunEkle">Ürün Ekle</a></li>
            <li><a href="/Urun/AldigimUrunler">Aldığım Ürünler</a></li>
            <li><a href="/Urun/Favorilerim">Favorilerim</a></li>
            <li><a href="/Urun/EkledigimUrunler">Eklediğim Ürünler</a></li>
        </ul>
    </nav>
    <script src="js/menu.js" type="text/javascript"></script>
</div>
