@*@model CodeNight.Models.Tbl_Mesajlasma
@{
    ViewBag.Title = "MesajGonder";
    Layout = "~/Views/Shared/_AnaSayfaLayout.cshtml";
}

<div class="col span_2_of_3">
    <div class="contact-form">
        <h2>Contact Us</h2>
        <form>
            <div>
                <span><label>@Model.GonderenKullaniciID</label></span>
                <span><input type="text" value=""></span>
            </div>
            <div>
                <span><label>@Model.AlanKullaniciID</label></span>
                <span><input type="text" value=""></span>
            </div>
            <div>
                <span><label>MOBILE.NO</label></span>
                <span><input type="text" value=""></span>
            </div>
            <div>
                <span><label>SUBJECT</label></span>
                <span><textarea> </textarea></span>
            </div>
            <div>
                <span><input type="submit" value="SUBMIT"></span>
            </div>
        </form>
    </div>
</div>*@

