@model IEnumerable<CodeNight.Models.Tbl_Urun>
@{
    ViewBag.Title = "UrunArama";
    Layout = "~/Views/Shared/_AnaSayfaLayout.cshtml";
}

@using (Html.BeginForm("UrunArama", "Urun", FormMethod.Get))
{
    <div class="section group">
        @foreach (var urun in Model)
        {
            if (urun.SatildiMi == false)
            {
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="preview-3.html"><img src="~/Resimler/@urun.Resim" alt="" /></a>
                    <h2>@urun.Adi </h2>
                    <p><span class="price">@urun.Fiyat</span></p>
                    <div class="button"><span><a href="/Urun/UrunDetay/@urun.UrunId" class="details">Detay</a></span></div>
                </div>
                }

            }
    </div>
}